<div class="container col-md-8 col-md-offset-2" ng-controller="SearchController" ng-cloak style="background-color:white">
    <form name="SearchForm">
        <div class="row">
            <div class="col-md-4">

                <div class="form-group">
                    <label class="control-label">Order By:</label>
                    <select class="form-control" ng-model="select">
                        <option value="">Select</option>
                        <option value="-rating">Rating</option>
                        <option value="-release">Date</option>

                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Filter result:</label>
                    <input ng-model="filter" class="form-control" id="focusedInput" type="text" value="filter result...">
                </div>

            </div>
        </div>
    </form>
    <div>Results found: {{totalResult}}</div>
    <div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-hover">
                    <tbody>
                        <tr ng-repeat="element in allData | limitTo: 25 | filter: filter | orderBy: select">
                            <td ng-if="element.rating"><a href="#/movie-details/{{element.id}}"><img class="img-responsive cardsHome" style="width:120px;height:130px; margin:0 0 0 0" ng-src="{{element.poster}}" alt="No image" /></a></td>
                            <td ng-if="element.rating"><p><a href="#/movie-details/{{element.id}}"><h4>{{element.title}}</h4></a><span ng-if="element.release"><i class="fa fa-calendar" aria-hidden="true"></i> {{element.release}}</span></p></td>
                            <td ng-if="element.rating"><h4>{{element.rating | number : 1}} <i class="fa fa-star-o" aria-hidden="true"></i></h4></td>
                            <td ng-if="element.known"><a href="#/actor-details/{{element.id}}"><img class="img-responsive cardsHome" style="width:120px;height:130px; margin:0 0 0 0" ng-src="{{element.poster}}" alt="No image" /></a></td>
                            <td ng-if="element.known"><p><a href="#/actor-details/{{element.id}}"><h4>{{element.title}}</h4></a><span ng-if="element.release"><i class="fa fa-calendar" aria-hidden="true"></i> {{element.release}}</span></p></td>
                            <td ng-if="element.known"><div><h4>Known From:</h4></div><div ng-repeat="movie in element.known"><i class="fa fa-film" aria-hidden="true"></i>{{movie.title ? movie.title: movie.name}}</div></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <ul class="pager" ng-hide="{{pagerHidden}}">
        <li id="prevPage"><a href="" ng-click="pager.prev()">Previous</a></li>
        <li id="nextPage"><a href="" ng-click="pager.next()">Next</a></li>
    </ul>
   
</div>


